.overlay {
  align-items: center;
  background: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(4px);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
}

.overlayBackdrop {
  cursor: default;
  inset: 0;
  position: absolute;
}

.form {
  max-width: 640px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.input {
  background: var(--color-background);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.textarea {
  background: var(--color-background);
  border-radius: 0.5rem;
  height: 20rem;
  margin-top: 0.5rem;
  padding: 1rem;
  resize: none;
  width: 100%;
}

.button {
  background: var(--color-accent);
  border-radius: 0.5rem;
  color: #fff;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
}
